@import url(https://db.onlinewebfonts.com/c/51692001965b9ee30b87efdfdf0c9088?family=Koorkin+W04+Bold+Italic);

.container {
  font-family: Arial, sans-serif;
  color: #333;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reservation-container {
  font-family: Arial, sans-serif;
  color: #333;
  background: linear-gradient(135deg, #6b48ff, #00d2ff);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-btn {
  background: none;
  border: none;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.hero {
  text-align: left;
  margin-left: 100px;
  color: #fff;
  padding: 100px 0;
}

.hero h1 {
  font-size: 60px;
  margin: 0;
}

.ital {
  font-family: "Koorkin W04 Bold Italic", sans-serif;
  font-size: 20px;
  color: #6b48ff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.events-header {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.events-section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 40px);
}

.events-section h2 {
  color: #333;
  margin-bottom: 20px;
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.event-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0px;
  position: relative;
}

.event-image {
  width: 100%;
  height: 150px;
  padding: 0;
  object-fit: cover;
}
.event-data {
  padding: 10px;
}
.event-image-placeholder {
  width: 100%;
  height: 150px;
  background: linear-gradient(45deg, #6b48ff, #00d2ff);
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
}

.event-image-placeholder::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    rgba(255, 255, 255, 0.2) 20px,
    rgba(255, 255, 255, 0.2) 40px
  );
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50%, 50%);
  }
}

.event-card h3 {
  color: #333;
  margin: 10px 0;
}

.event-card p {
  color: #666;
  margin: 5px 0;
}

.buy-btn {
  color: #6b48ff;
  background: #fff;
  border: 1px solid #6b48ff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  margin: 0 10px;
}
.buy-btn:hover {
  width: 80%;
}

.reservations-list {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservations-list h2 {
  color: #6b48ff;
  margin-bottom: 10px;
}

.reservations-list ul {
  list-style: none;
  padding: 0;
}

.reservations-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.delete-btn {
  background: #ff2e63;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.no-reservations {
  color: #ff2e63;
  text-align: center;
  margin-top: 10px;
}

.see-more-btn {
  background: #6b48ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.error-message {
  color: #ff2e63;
  text-align: center;
  margin-top: 10px;
}
